<h2 class="col-sm-5">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group col-sm-5">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control shadow-lg" %>
  </div>

  <div class="actions mt-2 col-sm-5">
    <%= f.submit "Send me reset password instructions", class:'btn btn-primary' %>
  </div>
<% end %>

<div class="col-sm-5 mt-2">
  <%= render "devise/shared/links" %>
</div>
